
.col-md-4{
	margin-left: 5px;
}



@media all and (max-device-width: 720px)
{
    .col-xs-12{
		font-size: 14pt;
	}
}

.img-responsive.profile{
	height: 140px;
}

.col-md-8.centered{
	float: none;	
	margin: 0 auto;
}

.form-control{
	display: inline;
}

.input-group-addon{
	min-width: 100px;	
}

ul.inl{
	display: table-row;
}

li.inl{
	display: table-cell;
	list-style-type: none;	
	vertical-align: top;
}

li.nb{
	list-style-type: none;
}

.control-label{
	text-align: left;
}
